KTOR_DEPLOYMENT_HOST=
KTOR_DEPLOYMENT_PORT=
KTOR_DEPLOYMENT_ROOT_PATH=
KTOR_DEVELOPMENT=
ADMINER_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_IP=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_DIALECT=
DATABASE_DRIVER=
JWT_ALG=
JWT_SECRET=
JWT_ISS=
JWT_AUD=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=
